.todo-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid rgb(220, 219, 219);
  padding: 2rem;
  border-radius: 4px;
  align-items: center;
}
.todo-input {
  padding: 0.5em;
  width: 34rem;
  border-radius: 4px solid;
}
.add-todo-btn {
  padding: 0.5em;
  width: 34rem;
  border-style: none;
  border-radius: 4px;
  background-color: rgb(11, 163, 224);
  color: white;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
