* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: rgb(253, 254, 255);
}

.app-container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid green; */
}
.title {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
}
.filter-container {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  /* border: 1px solid crimson; */
}
.filter-btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 12rem;
  background-color: rgb(11, 163, 224);
  color: white;
  font-size: 1em;
  font-weight: lighter;
  border: none;
  border-radius: 4px;
}
.delete-button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  /* border: 1px solid brown; */
  padding: 0.6rem;
}
.delete-task-btn {
  padding: 0.4rem;
  width: 24rem;
  border-style: none;
  background-color: red;
  color: white;
  border-radius: 4px;
}
